<a href="https://colab.research.google.com/github/Eunjung-Cho/python_study/blob/master/crawler/%EC%8A%A4%ED%83%80%EB%B2%85%EC%8A%A4_%EB%A7%A4%EC%9E%A5%EC%A0%95%EB%B3%B4_%ED%81%AC%EB%A1%A4%EB%A7%81.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import math
import random
import requests
import pandas as pd

In [ ]:
def randomString():
    chars = "0123456789ABCDEFGHIKLMNOPQRSTUVWXYZ";
    string_length = 10;
    randomstring = '';
    for i in range(0, string_length):
        rnum = int(math.floor(random.random() * len(chars)));
        randomstring += chars[rnum : rnum+1];

    return randomstring

In [ ]:
def getGugunList():
    url = 'https://www.starbucks.co.kr/store/getGugunList.do'
    gugunlist = [[]]
    for i in range(1, 18): #17개의 시군구를 담음
        datas = {
            'sido_cd': str(i).zfill(2)
        }
        response = requests.post(url, data=datas).json()

        for j in range(0, len(response['list'])):
            gugunlist[i-1].append(response['list'][j])

        gugunlist.append([])
    return gugunlist

In [ ]:
def getStore(p_gugun_cd, p_sido_cd):
    randomStr = randomString()
    url = 'https://www.starbucks.co.kr/store/getStore.do?r=' + randomStr
    datas = {
        'P10': 0,
        'P20': 0,
        'P30': 0,
        'P40': 0,
        'P50': 0,
        'P60': 0,
        'P70': 0,
        'P80': 0,
        'P90': 0,
        'T01': 0,
        'T03': 0,
        'T05': 0,
        'T09': 0,
        'T10': 0,
        'T12': 0,
        'T21': 0,
        'T22': 0,
        'T27': 0,
        'T30': 0,
        'T36': 0,
        'T43': 0,
        'T48': 0,
        'all_store': 0,
        'iend': "100",
        'in_biz_cd': "",
        'in_biz_cds': 0,
        'in_distance': 0,
        'in_scodes': 0,
        'ins_lat': 37.0,
        'ins_lng': 126.0,
        'isError': True,
        'new_bool': 0,
        'p_gugun_cd': p_gugun_cd,
        'p_sido_cd': p_sido_cd,
        'rndCod': randomStr,
        'searchType': "C",
        'search_text': "",
        'set_date': "",
        'whcroad_yn': 0
    }
    response = requests.post(url, data=datas).json()
    return response;

In [ ]:
Gugun = getGugunList()

result = []

for i in range(0, len(Gugun)):
    for j in range(0, len(Gugun[i])):
        Store = getStore(Gugun[i][j]['gugun_cd'], Gugun[i][j]['gugun_cd'][0:2])
        Store = Store['list']
        for k in range(0, len(Store)):
            savedata = {
                'sido_name': Store[k]['sido_name'],
                'gugun_name': Store[k]['gugun_name'],
                'addr': Store[k]['addr'],
                's_name': Store[k]['s_name'],
                'lat': Store[k]['lat'],
                'lot': Store[k]['lot']
            }
            result.append(savedata)

In [ ]:
selectdata = pd.DataFrame(result)

selectdata

,sido_name,gugun_name,addr,s_name,lat,lot
0,서울,강남구,서울특별시 강남구 역삼동 755 한솔필리아,역삼이마트,37.499367,127.048425
1,서울,강남구,서울특별시 강남구 삼성동 168-22 페코빌딩,삼성동,37.510843366121534,127.06363342044263
2,서울,강남구,서울특별시 강남구 논현동 164-7,강남논현,37.5078978596254,127.023338614644
3,서울,강남구,서울특별시 강남구 역삼동 702-10 아남타워빌딩,테헤란로아남타워,37.50383,127.04487
4,서울,강남구,서울특별시 강남구 대치동 996-1번지,삼성역,37.509206962541256,127.06560851480327
...,...,...,...,...,...,...
1819,세종,None,세종특별자치시 종촌동 151-104 성운프라자,세종종촌,36.5041123,127.2493812
1820,세종,None,"세종특별자치시 어진동 530 세종포스트, 인사혁신처",세종어진R,36.508188,127.261188
1821,세종,None,세종특별자치시 새롬동 산6 세종영광프라자,세종새롬,36.486896,127.250718
1822,세종,None,세종특별자치시 보람동 700-81 호려울마을7단지 근린생활시설,세종보람,36.4773322231936,127.28651937895552
1823,세종,None,세종특별자치시 다정동 639 오수중계펌프장,세종다정DT,36.494878,127.255384

In [ ]:
selectdata.to_csv('starbucks_store.csv', encoding='cp949')