<a href="https://colab.research.google.com/github/Eunjung-Cho/python_study/blob/master/API/db%EC%97%90_%EB%84%A3%EB%8A%94_%EC%BD%94%EB%93%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### 무신사

In [ ]:
#defining my worksheet
worksheet = gc.open('musinsa').sheet1
#get_all_values gives a list of rows
rows = worksheet.get_all_values()
data = pd.DataFrame.from_records(rows)

In [ ]:
data

        0        1        2
0     검색어    연관검색어    연관검색어
1      패딩      숏패딩      숏패딩
2      패딩      롱패딩      롱패딩
3      패딩     경량패딩     경량패딩
4      패딩  노스페이스패딩  노스페이스패딩
..    ...      ...      ...
76  카고반바지  카고팬츠반바지  카고팬츠반바지
77  카고반바지      반바지      반바지
78  카고반바지  반바지카고팬츠  반바지카고팬츠
79  카고반바지     카고팬츠     카고팬츠
80  카고반바지  데님카고반바지  데님카고반바지

[81 rows x 3 columns]

In [ ]:
df = pd.DataFrame(data.values[1:], columns=data.iloc[0])

In [ ]:
df.rename(columns={'Before':'After'})

In [ ]:
df

      검색어   연관검색어1   연관검색어2
0      패딩      숏패딩      숏패딩
1      패딩      롱패딩      롱패딩
2      패딩     경량패딩     경량패딩
3      패딩  노스페이스패딩  노스페이스패딩
4      패딩       반팔       반팔
..    ...      ...      ...
75  카고반바지  카고팬츠반바지  카고팬츠반바지
76  카고반바지      반바지      반바지
77  카고반바지  반바지카고팬츠  반바지카고팬츠
78  카고반바지     카고팬츠     카고팬츠
79  카고반바지  데님카고반바지  데님카고반바지

[80 rows x 3 columns]

In [ ]:
df.columns = ['검색어', '연관검색어1', '연관검색어2']

In [ ]:
df1 = df.drop(df.columns[2], axis=1)

In [ ]:
df1

      검색어   연관검색어1
0      패딩      숏패딩
1      패딩      롱패딩
2      패딩     경량패딩
3      패딩  노스페이스패딩
4      패딩       반팔
..    ...      ...
75  카고반바지  카고팬츠반바지
76  카고반바지      반바지
77  카고반바지  반바지카고팬츠
78  카고반바지     카고팬츠
79  카고반바지  데님카고반바지

[80 rows x 2 columns]

In [ ]:
df = pd.read_csv('/content/top500_여성 (1).csv')

In [ ]:
df

,category1,category2,category3,period,start_date,end_date,device,ranking,keyword
0,패션의류,여성의류,점퍼,year,202101.0,202112.0,전체,1.0,숏패딩
1,패션의류,여성의류,점퍼,year,202101.0,202112.0,전체,2.0,몽클레어여성패딩
2,패션의류,여성의류,점퍼,year,202101.0,202112.0,전체,3.0,여성숏패딩
3,패션의류,여성의류,점퍼,year,202101.0,202112.0,전체,4.0,여성패딩
4,패션의류,여성의류,점퍼,year,202101.0,202112.0,전체,5.0,여성경량패딩
...,...,...,...,...,...,...,...,...,...
16495,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16496,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16497,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16498,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16499,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
import gspread
from google.colab import auth
import pandas as pd
from google.colab import drive
from google.oauth2 import service_account
from google.auth import default

In [ ]:
auth.authenticate_user()
creds, _ = default()
gc = gspread.authorize(creds)

In [ ]:
# Google Drive 마운트
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:

# Google Drive의 파일 경로 지정
file_path = '/content/drive/MyDrive/DB/네이버키워드.csv'

In [ ]:
!pip install gspread pandas

Requirement already satisfied: gspread in /usr/local/lib/python3.10/dist-packages (3.4.2)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: requests>=2.2.1 in /usr/local/lib/python3.10/dist-packages (from gspread) (2.27.1)
Requirement already satisfied: google-auth in /usr/local/lib/python3.10/dist-packages (from gspread) (2.17.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.10/dist-packages (from requests>=2.2.1->gspread) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.10/dist-packages (from requests>=2.2.1->gspread) (2023.5.7)
Requirement already satisfied: charset-normalizer~=2.0.0 in /usr/local/lib/python3.10/dist-packages (from requests>=2.2.1->gspread) (2.0.12)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.10/dist-packages (from requests>=2.2.1->gspread) (3.4)
Requirement already satisfied: cachetools<6.0,>=2.0.0 in /usr/local/lib/python3.10/dist-packages (from google-auth->gspread) (5.3.1)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.10/dist-packages (from google-auth->gspread) (0.3.0)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.10/dist-packages (from google-auth->gspread) (4.9)
Requirement already satisfied: pyasn1<0.6.0,>=0.4.6 in /usr/local/lib/python3.10/dist-packages (from pyasn1-modules>=0.2.1->google-auth->gspread) (0.5.0)

### df 네이버키워드

In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/DB/테이블명.csv')

In [ ]:
df

       category1  rank   keyword      기간  연령대  성별
0           패션의류     1   핸드메이드코트  201901   20  여성
1           패션의류     2       원피스  201901   20  여성
2           패션의류     3     니트원피스  201901   20  여성
3           패션의류     4       롱패딩  201901   20  여성
4           패션의류     5       숏패딩  201901   20  여성
...          ...   ...       ...     ...  ...  ..
824995       면세점   496  면세점알마니쿠션  202307   40  여성
824996       면세점   497   면세점여자향수  202307   40  여성
824997       면세점   498   면세점여행가방  202307   40  여성
824998       면세점   499    면세점은팔찌  202307   40  여성
824999       면세점   500  면세점자음생크림  202307   40  여성

[825000 rows x 6 columns]

### DB 연결

In [ ]:
pip install mysql-connector

In [ ]:
pip install --upgrade mysql-connector-python

In [ ]:
import mysql.connector
from sqlalchemy import create_engine

In [ ]:
# 데이터베이스 연결 설정
config = {
    'user': '사용자명넣기',
    'password': '사용자비번넣기',
    'host': '호스트넣기',
    'port': 3306,
    'database': '데이터베이스명'
}

# MySQL 서버에 연결
cnx = mysql.connector.connect(**config)

# SQLAlchemy 엔진 생성
engine = create_engine('mysql+mysqlconnector://사용자명:비번@호스트:3306/f데이터베이스명')

In [ ]:
# df 데이터프레임을 MySQL에 테이블로 쓰기
df.to_sql(name='설정하고싶은 테이블명', con=engine, if_exists='append', index=False)
# 연결 닫기
cnx.close()